.scroll-watcher {
  background-color: #30ff00;
  height: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 0; /* Por defecto, la barra de desplazamiento está oculta */
  z-index: 1000;
  transition: width 0.3s ease; /* Agregamos una transición para suavizar el cambio de tamaño */
  border-radius: 0.25rem;
}

.custom-floating-icon {
  background: url('https://raw.githubusercontent.com/Damanger/Portfolio/main/public/Ardilla.webp') no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.rsc-footer input{
  color: black;
}

.sc-bxivhb.ipSaXD.rsc-os-option-element {
  width: auto;
  padding: 8px 16px;
  background-color: green;
}